.card {
    background-color: #CCFFB2;
    border-color: black;
    margin: 10px;
    width: 66%;
    height: auto;
    font-size: small;
}

.card:hover {
    opacity: 0.5;
}

.carta {
    background:radial-gradient(lightblue, lightblue,grey);
    border-color: black;
    margin: 10px;
    width: 66%;
    height: auto;
    font-size: medium;
}

.carta:hover {
    opacity: 0.5;
}
.carta-tres {
    background: radial-gradient(white, #F88766);
    border-color: black;
    margin: 10px;
    width: 66%;
    height: auto;
    font-size: medium;

}
.carta-tres:hover {
    opacity: 0.5;
}
.carta-dos {
    background: radial-gradient(pink, pink,lightblue);
    border-color: black;
    margin: 10px;
    width: 66%;
    height: auto;
    font-size: medium;
}
.carta-dos:hover {
    opacity: 0.5;
}
.carta-cuatro {
    background: radial-gradient(white, white, yellow);
    border-color: black;
    margin: 10px;
    width: 66%;
    height: auto;
    font-size: medium;
}
.carta-cuatro:hover {
    opacity: 0.5;
}
.carta-cinco {
    background: radial-gradient(whitesmoke, whitesmoke, grey);
    border-color: black;
    margin: 10px;
    width: 66%;
    height: auto;
    font-size: medium;
}
.carta-cinco:hover {
    opacity: 0.5;
}
.carta-seis {
    background: radial-gradient(lightgreen, lightgreen, lightyellow);
    border-color: black;
    margin: 10px;
    width: 66%;
    height: auto;
    font-size: medium;
}
.carta-seis:hover {
    opacity: 0.5;
}